.container {
  min-height: 100vh;
  font-family: 'MuseoSansCyrl';
  font-size: 16px;
  background-color: black;
  color: aliceblue;
  background-image: url('../../image/fon.png');
  background-repeat: no-repeat;
  background-position: center;
  /* background-size: cover; */
}
