html {
  overflow-x: hidden;
  margin-right: calc(-1 * (100vw - 100%));
}
body {
  margin: 0;
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Museo Sans Cyrl';
  font-size: 16px;
  background-color: black;
  color: aliceblue;
  background-image: url('./image/fon.png');
  background-repeat: no-repeat;
  background-position: center;
  /* background-size: cover; */
}
#root {
  padding: 10px 0;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

ul,
li {
  display: flex;
  list-style-type: none;
  font-size: inherit;
  outline: none;
}
button {
  cursor: pointer;
  outline: none;
  background: none;
}
div {
  outline: none;
}
