html {
  overflow-x: hidden;
  margin-right: calc(-1 * (100vw - 100%));
}

@font-face {
  font-family: 'MuseoSansCyrl';
  src: url('./fonts/MuseoSansCyrl300/MuseoSansCyrl300.otf'),
    url('./fonts/MuseoSansCyrl300/MuseoSansCyrl300.woff') format('woff'),
    url('./fonts/MuseoSansCyrl300/MuseoSansCyrl300.ttf') format('truetype');
}

body {
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

ul,
li {
  display: flex;
  list-style-type: none;
  font-size: inherit;
  outline: none;
}
button {
  cursor: pointer;
  outline: none;
  background: none;
}
div {
  outline: none;
}
